@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap");

* {
  margin: 0;
  padding: 0;
}
.sidebar {
  background-color: rgba(5, 56, 90);
  width: 10vw;
  font-family: "Poppins", sans-serif;
}
.sidebar nav {
  padding: 23px;
  height: 100vh;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 100, "wght" 4000, "GRAD" 0, "opsz" 24;
}
.sidebar nav li {
  list-style: none;
  font-size: 18px;
  padding: 44px 0;
  /* padding-bottom: 44px; */
}

.main {
  background-color: rgb(53, 87, 97);
  width: 90vw;
}
.container {
  display: flex;
}
.infoContainer {
  display: flex;
  background-color: rgb(42, 157, 92);
  height: 78vh;
  width: 80vw;
  margin: 144px auto;
  justify-content: space-around;
}
.devPic img {
  height: 78vh;
}
